body{
background: url('./assets//pic.jpg');
background-position: center;
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;

min-height: 90vh;
}

.clock{
    font-size: 74px;
    font-weight: 700;
    color: white;
}